/*Universal styles*/
body {
  font-family: 'PT mono', monospace;
  margin: 0;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 2em;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 0 !important;
}

#titles {
  font-size: 1.5em;
}

#grey {
  color: #8D8D8D;
}

.sections {
  color: black;
  text-align: center;
  padding-top: 5%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(255,255,255,.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topnav .navbar-filler {
  flex: 1;
}

/* Style the links inside the navigation bar */
.topnav{
  padding-left: 10%;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 0px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'PT Mono', monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #AAAAAA;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #AAAAAA;
}

/*hero*/
.hero {
  width: 100%;
}

.producthero {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

#productherotext {
  position: absolute;
  top: 30%;
  left: 10%;
}

/*area sections styling*/
.container {
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

.information {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.reviews {
  background-color: #FAFAFA;
  padding-bottom: 5%;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* code from https://alligator.io/css/cropping-images-object-fit/*/
.category {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  padding: 2%;
  opacity: 0.7;

  transition: all 0.1s ease-in;
}

.category:hover {
  opacity: 1;
  transform: scale(1.05);
}

/*product page*/
.product {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  margin-right: 40px;
}

#product-img {
  object-fit: cover;
  width: 500px;
  height: 600px;
  border-radius: 1%;
  margin-right: 40px;
}

#pillow {
  width: 80%;
  height: auto;
  padding-right: 2rem;
}

/*row styling*/
.row-prod {
  display: flex;
  justify-content: flex-start;
}

.row {
  display: flex;
  justify-content: space-between;

}

/*footer styling*/
.footer {
  background-color: #F5F2ED;
  height: 250px;
  padding-top: 40px;
  padding-left: 10%;
}

/*various col styling*/
/*.col {
  float: left;
}*/

.col-f {
  padding-right: 10rem;
}

.col-p {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  justify-content: center;
}

.col-r {
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  justify-content: flex-start;
}

.col-one-third {
  width: 50%;
}

.col-last {
  display: inline-flex;
  justify-content: flex-end;
  width: 30%;
  text-align: left;
  padding-left: 40px;
}

.left {
  text-align: right;
}
/*https://www.w3schools.com/howto/howto_css_inline_form.asp*/

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: none !important;
  font-family: 'PT mono', monospace;
}

/* Style the email submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: #FFDF31;
  border: none !important;
  font-family: 'PT mono', monospace;
}

.form-inline button:hover {
  background-color: royalblue;
}

#email {
  margin-right: 0 !important;
}

/*Radio buttons styling*/
.radio {
  display: inline-block;
}

/* code pulled from https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons*/
input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -3px;
    left: -2px;
    position: relative;
    /*background-color: #d1d3d1;*/
    content: '';
    display: inline-block;
    visibility: visible;
    box-sizing: border-box;
    padding: 2px;
    border: 2px solid white;
}

#afterschool:after {
  background-color: #D2AA47;
}

#morninghaze:after {
  background-color: #812A17;
}

#cozydenim:after {
  background-color: #69585E;
}

#rainyday:after {
  background-color: #BAB4A6;
}

input[type='radio']:checked:after {
    /*width: 15px;*/
    /*height: 15px;*/
    /*border-radius: 15px;*/
    /*top: -2px;*/
    /*left: -1px;*/
    position: relative;
    /*background-color: #ffa500;*/
    border: 2px solid #7C7C7C;
    content: '';
    display: inline-block;
    visibility: visible;
    /*border: 2px solid white;*/
}

.checked {
  color: #818181;
}

.yellow {
  color: #FFCC41;
}

/*button styling*/
.button {
  background-color: #FFCC41;
  border: none;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'PT mono', monospace;
}

.pillowbutton {
  border: 1px;
  padding-right: 5px;
  padding-top: 5px; 
}

.checkout {
  background-color: #FFCC41;
  border: none;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'PT mono', monospace;
}

select {
  width: 80px;
  height: 48px;
  background-color: white;
  border-color: #707070;
}


.special-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.special-container .sidebar {
  width: 30%;
}

.special-container .actual-content {
  flex: 1;
}

ul.check {
  list-style-type: square;
}

.spacer-big {
  height: 40px;
}

.rowcart {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.wrapper {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

span.price {
  float: right;
  color: grey;
}